.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px rgb(207, 207, 207);
  height: 60px;
  align-items: center;
  padding: 0 10px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.appName {
  margin: 0;
  margin-left: 10px;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.logout,.changeRoleButton{
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  background-color: #1f7ffc;
  padding: 5px 10px;
  border-radius: 10px 10px;
  color: white;
}




.changeRoleButton{
  padding: 4px 10px;
  height: min-content;
  background-color: #1f7ffc;
}