@import 'tailwindcss';

@theme {
	--color-*: initial;
	--color-white: #fff;
	--color-main: #003d58;
	--color-red: #ed1d24;
	--color-darkmain: #002637;
	--color-gray: #a2a2a2;
	--color-orange: #c45b00;
	--color-blue: #0092c8;
	--color-green: #6a9300;
	--color-yellow: #fbba13;
	--color-lig: #0a0a0a91;
	--font-custom: [ 'Codec-Pro'];
}

body {
	font-family: Codec-Pro;
	background-color: #003d58;
	font-weight: 100;
}
h1 {
	color: white;
	text-transform: uppercase;
	font-family: Codec-Pro;
}

.fade-box {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.3s ease-out,
		transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fade-box.visible {
	opacity: 1;
	transform: translateY(0);
}

@layer base {
	.no-selection {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
