.directionMainConteiner{
    margin-top: 25px;
    background: linear-gradient(100deg, #E5E5E5, #555555);

    width: 100%;
    border: solid 1px rgb(233, 232, 232);
    border-radius: 10px;
    display: flex;
    justify-content: space-between

;
    flex-direction: row;
}
.leftside{
    margin-left: 10px;
    width: 80%;
}
.rigthside{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.image{
    margin: 10px;
    width: 150px;
}
.leftside>h3{
    font-size: 16px;
    text-align: left;
}
.leftside>p{
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.sendbuttontocategory{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    text-align: left;
    box-shadow: 1px 1px 5px 1px  gray ;
}
