.directionMainConteiner{
    margin-top: 25px;
    background:linear-gradient(93deg, #2977d7, #ffffff);
    display: flex;

    
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between

;
    flex-direction: row;
}
.leftside{
    margin-left: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.rigthside{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.image{
    margin: 10px;
    width: 150px;
}
.leftside>h3{
    color: white;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;
}
.leftside>p{
    color: white;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.sendbuttontocategory{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    text-align: left;
    background-color: white;
    font-weight: 300;
    text-decoration: none;

}
.leftside >button{

}