
.leftContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    height: 100vh;

}
.mainImage{
    width: 500px;
}
.loginform{
    margin: auto auto;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap:20px
}
.input{
    width: 300px;


    outline: none;
    color: rgb(41, 29, 29);
    text-align: left;
    font-size: 20px;
    padding: 3px 10px;
    height: 32px;
    border-radius: 5px;
    border: solid 1px gray;
    
    
}
.loginform>label{
    
    text-align: left;
}

.inputBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.inputBlock>label{
    width: 100%;
    text-align: left;
    font-weight: 500;
}

.loginform>h1{
    color: rgb(56, 56, 56);
}